#alist{
	width: 100%;
	height: 100%;
	
}

.homes{
	width: 100%;
	height: 1700px;
	
}
#xx:before{
	content: '\e659';
	color: #FF6000;
	font-size: 14px;
}
#alist .home-wrap{
	position: absolute;
	top: 90px;
	left: 0;
	bottom: 0;
	width: 100%;
	overflow: hidden;
	
}
.list-wrap2{
	position: absolute;
	top: 90px;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 1700px;
	
}
.contents{
	width: 100%;
    position: fixed;
    left: 0;
    top:0;
    z-index: 40;
}
.contents .title{
	width: 100%;
	height: 50px;
	background: rgb(0, 151, 255);
	text-align: center;
	z-index: 31;
}
.contents .title h1{
	font-size: 16px;
	color: white;
	line-height: 50px;
}

.lists{
	height: 40px;
	width: 100%;
	z-index: 31;
}
.lists li{
	width: 33.3%;
	text-align: center;
	line-height: 40px;
	background: white;
	font-size: 14px;
	color: #666;
	float: left;
}
.lists span:before{
	content: "\e602";
	font-size: 12px;
	
}
.list-item{
	z-index: 30;
	height: 76px;
	padding: 8px 6px;
	display: flex;
	position: relative;
	box-sizing: border-box;
	background: #fff;
}
.list-item img {
	height: 60px;
	width: 60px;
	margin-right: 10px;
	float: left;
}
.list-item .temp {
	
	float: left;
}
